S3method(print,RIGHT)
S3method(summary,RIGHT)
export(RIGHT)
export(boxplot_RIGHT)
export(clean)
export(hist_RIGHT)
export(lines_RIGHT)
export(pie_RIGHT)
export(plot_RIGHT)
export(points_RIGHT)
importFrom(shiny,tag)
